@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section-heading{
    font-size: clamp(2rem, 10vw, 8rem);
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}
.section-heading::before{
    content: attr(data-outline);
    position: absolute; 
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #ffc000;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition: 0.5s;
}
header ul li a:hover{
    color: #ffc000;
}
.minilogos{
    max-width: 120px !important;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    display: inline-block;
    max-width: 600px;
    overflow: hidden;
}
.content .textbox .main-head{
    position: relative;
    bottom: -100px;
    animation: reveal 1s ease-in-out forwards;
}
@keyframes reveal{
    0%{
        bottom: -100px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.content .textbox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span{
    color: #ffc000;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textbox p{
    font-size: 1rem;
    font-weight: 500;
    color:#333;
    opacity: 0;
    animation: fade 2s ease-in forwards;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #7030a0;
    color: #ffffff;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    animation: fade 2s ease-in forwards;
}
.content .textbox a:hover{
    background: #46133a;
}
.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgbox img{
    max-width: 350px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 200px;
}
.sci{
    position:absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#ffc000 ;
    clip-path: circle(600px at right 800px);
}
/*responsive*/
@media(max-width:990px){
    header{
        padding: 20px;
    }
    header .logo{
        position: relative;
        max-width: 60px;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor:pointer;
        background: url(img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(img/close.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    header ul{
        display: none;
    }
    header ul li a{
        font-size: 1.5em;
        margin: 5px;
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #ffc000;
        color: #333;
        z-index: 10;
    }
    section{
        padding: 20px 20px 120px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .imgbox{
        max-width: 100%;
        justify-content:center;
    }
    content .imgbox img{
        max-width: 300px;
    }
    .content .textbox{
        max-width: 100%;
    }
    .content .textbox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .thumb li img{
        max-width: 150px;
    }
    .circle{
        clip-path: circle(400px at center bottom)
    }
    .sci{
        background: #46133a;
        right: 0;
        width: 50px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        position: fixed;
    }
}
/*Services section*/
#servicios{
    padding: 240px 0;
}
#servicios .all-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
#servicios .items{
    padding: 24px;
    border-radius: 12px;
}
#servicios .items:nth-child(1):hover{
    background-color:#ffbf005f;
}
#servicios .items:nth-child(2):hover{
    background-color:#ff6a1f50;
}
#servicios .items:nth-child(3):hover{
    background-color:#46133a51;
}
#servicios .items .icon{
    width: 100px;
    height: 100px;
    padding: .8rem;
    border-radius: 50px;
    margin-bottom: 1rem;
}
#servicios .items-heading{
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
}
#servicios .item-description{
color: var(--secondary-gray);
}
#servicios .items:nth-child(1) .icon{
    background-color: #ffc000;
}
#servicios .items:nth-child(2) .icon{
    background-color: #ff681f;
}
#servicios .items:nth-child(3) .icon{
    background-color: #7030a0;
}
#servicios .section-heading{
    font-size: clamp(2rem, 10vw, 8rem);
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}
#servicios .section-heading::before{
    content: attr(data-outline);
    position: absolute; 
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: transparent;
    -webkit-text-stroke: 1.5px #ffc000;
}
.boton-icon{
    background: #7030a0;
    border: none;
    border-radius: 40px;
    margin: 10px;
    padding: 5px;
}
.boton-icon a{
    text-decoration: none;
    color: #ffffff;
}
.boton-icon:hover{
    background: #46133a;
}
@media(max-width:768px){
    #servicios .all-items{
        flex-direction: column;
        text-align: center;
    }
    #servicios .item .icon{
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    #services .item{
        margin:2rem 0;
    }
    #servicios .items:nth-child(1){
        background-color:#ffbf005f;
    }
    #servicios .items:nth-child(2){
        background-color:#a9540472;
    }
    #servicios .items:nth-child(3){
        background-color:#46133a51;
    }
}